orders-files-transfers/src/main/mule/implemantion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:cifs="http://www.mulesoft.org/schema/mule/cifs" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ipswitch-mit-mule4="http://www.mulesoft.org/schema/mule/ipswitch-mit-mule4" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ipswitch-mit-mule4 http://www.mulesoft.org/schema/mule/ipswitch-mit-mule4/current/mule-ipswitch-mit-mule4.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/cifs http://www.mulesoft.org/schema/mule/cifs/current/mule-cifs.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="order-transfer" doc:id="2ce5be7a-0b2f-44c7-8332-ddada302850c" >
		<sftp:listener doc:name="DMZServer" doc:id="ad1b0958-1096-4bbc-acfd-8e13a626726c" config-ref="SFTP_Source" autoDelete="true" moveToDirectory="#[p('sftp-source.directory') ++ 'ARCHIVE/' ++ now().year as String ++ '/' ++ now().month as String ++ '/' ++ now().day as String]" applyPostActionWhenFailed="false" recursive="false">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<sftp:matcher filenamePattern="*.txt" />
		</sftp:listener>
		<set-variable value="#[message.attributes.path]" doc:name="Set File Name" doc:id="f19fe972-fc66-4787-a1a6-8ef74114242b" variableName="fileName"/>
		<set-variable value="#[p('ftp-target.host') ++ p('ftp-target.directory')]" doc:name="SetPath" doc:id="da72271a-a632-4e19-9e2c-fc541feea9ab" variableName="filePath"/>
		<flow-ref doc:name="transferTosharedDrive" doc:id="cf789c5e-57f0-45bf-b0e6-3dcd3563a11b" name="transferTosharedDrive"/>
		<logger level="INFO" doc:name="Logger" doc:id="ca19fe14-6e87-4a14-be7d-00f605c74688" message="#['File ' ++ vars.filePath ++ 'moved to shared network']" />
	</flow>
	<flow name="transferTosharedDrive" doc:id="bfbdf4ed-6754-416a-bed5-32624e77f7fd" >
		<java:new doc:name="New" doc:id="00b81b9e-2b45-4a67-9d27-fc6e02f94880" class="com.dorel.AddFile" constructor="AddFile(java.lang.String,java.lang.String)">
			<java:args><![CDATA[#[{ "fileContent" : payload, "fileName" : message.attributes.fileName}]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" doc:id="987e8bfb-ba19-4e15-a824-f5a8f7148d4a" instance="#[payload]" class="com.dorel.AddFile" method="copyFiles(java.lang.String,java.lang.String,java.lang.String)">
			<error-mapping targetType="APP:e" />
			<java:args><![CDATA[#[{'filePath':vars.filePath , 'user':p('ftp-target.user'),'pass':p('ftp-target.password')}]]]></java:args>
		</java:invoke>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="4ab7112a-6cf3-41b1-8272-c758a10b149f" type="ANY" >
				<sftp:move doc:name="MoveError" doc:id="faa566d1-66bd-4720-9793-d31f1e3772c0" config-ref="SFTP_Source" sourcePath="#[vars.fileName]" targetPath="#[p('sftp-source.directory') ++ 'ERROR/' ++ now().year as String ++ '/' ++ now().month as String ++ '/' ++ now().day as String]" overwrite="true" />
				<logger level="INFO" doc:name="Logger" doc:id="c17a1489-333f-433c-805f-49e1c2723f66" message="#[payload]" />
				<email:send doc:name="Send Email" doc:id="8689be10-68aa-4f7c-b58e-0f0e6b6a9f5c" config-ref="Email_SMTP" fromAddress="noreply_mulesoft-test@dorel.eu" subject="mule error" >
					<email:to-addresses >
						<email:to-address value=" eu-monitoring@dorel.eu" />
					</email:to-addresses>
					<email:body contentType="text/plain" encoding="UTF-8">
						<email:content ><![CDATA[Failed to transfer file . Target location is unavailable]]></email:content>
					</email:body>
				</email:send>
			</on-error-propagate>
		</error-handler>
	</flow>
	    
	
</mule>
